<%- resource_name = model_name.underscore.gsub('/', '_').sub(/\A_/, '') -%>
<%%- model_class = <%= model_name.sub(/\ATemplate::/, '::Template::') %> -%>
<div class="page-header">
  <h1><%%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%%= render '<%= resource_name.pluralize %>/form', <%= resource_name %>: @<%= resource_name %> %>
