<%- model_class = ProjectAssignment -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render 'project_assignments/form', project_assignment: @project_assignment %>
